<%- include('layout/partials/_header')%>
<body>
   <main class="flex-shrink-0">
      <div class="container">
          <h1 class="mt-5">Node js Express Js Mongo db Crud</h1>
       

                  <%- include('pages/_home')%>
         


      </div>
  </main>
    
</body>
<%- include('layout/partials/_header')%>